.swiper {

    margin-top: -60px;

    @media screen and (max-width: 768px) {
        margin-top: -50px;
    }

    .swiper-slide  {
        // display: flex!important;
        display: flex;
        align-items: center;
        background-color: var(--body-color);
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        img {
            height: auto;
            min-width: 350px;
        }
    
        
    }
    /* Active state of the bullet */
    .swiper-pagination-bullet-active {
        background-color: var(--first-color)!important; /* Change #yourActiveColor to your desired color */
    }

}